In [3]:
# 基本的な配列処理や数値計算を行うライブラリ
import numpy as np
# Numpyをさらに機能強化するライブラリ
import scipy as sp
# データフレーム形式で様々なデータ加工するためのライブラリ
import pandas as pd
from pandas import Series, DataFrame

# 可視化ライブラリ
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

# 小数第3位まで表示
%precision 3

'%.3f'

In [4]:
# 機械学習の基本的なライブラリ
from sklearn import linear_model

In [5]:
pwd

'C:\\Users\\tadaa\\repos\\data_science'

In [6]:
mkdir chap3

In [7]:
ls -l

 ドライブ C のボリューム ラベルは Windows です
 ボリューム シリアル番号は 48AB-276C です

 C:\Users\tadaa\repos\data_science のディレクトリ

ファイルが見つかりません

In [8]:
ls

 ドライブ C のボリューム ラベルは Windows です
 ボリューム シリアル番号は 48AB-276C です

 C:\Users\tadaa\repos\data_science のディレクトリ

2025/12/31  17:51    <DIR>          .
2025/12/17  00:27    <DIR>          ..
2025/12/17  00:25             4,895 .gitignore
2025/12/31  17:42    <DIR>          .ipynb_checkpoints
2025/12/31  17:50    <DIR>          chap3
2025/12/31  09:47           475,123 Chapter2.ipynb
2025/12/31  17:51             3,042 Chapter3.ipynb
               3 個のファイル             483,060 バイト
               4 個のディレクトリ  799,486,447,616 バイトの空き領域

In [9]:
cd ./chap3/

C:\Users\tadaa\repos\data_science\chap3

In [10]:
import requests, zipfile
from io import StringIO
import io

In [11]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip'

r = requests.get(url, stream=True)

z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [12]:
ls

 ドライブ C のボリューム ラベルは Windows です
 ボリューム シリアル番号は 48AB-276C です

 C:\Users\tadaa\repos\data_science\chap3 のディレクトリ

2025/12/31  17:53    <DIR>          .
2025/12/31  17:53    <DIR>          ..
2025/12/31  17:53             3,206 student.txt
2025/12/31  17:53            56,993 student-mat.csv
2025/12/31  17:53               269 student-merge.R
2025/12/31  17:53            93,220 student-por.csv
               4 個のファイル             153,688 バイト
               2 個のディレクトリ  799,475,982,336 バイトの空き領域

In [14]:
student_data_math = pd.read_csv('student-mat.csv')

In [15]:
student_data_math.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [18]:
# データの読み込み
# 「;」区切り
student_data_math = pd.read_csv('student-mat.csv', sep=';')

In [19]:
student_data_math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [20]:
student_data_math.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [21]:
student_data_math['sex'].head()

0    F
1    F
2    F
3    F
4    F
Name: sex, dtype: object

In [22]:
student_data_math['absences']

0       6
1       4
2      10
3       2
4       4
       ..
390    11
391     3
392     3
393     0
394     5
Name: absences, Length: 395, dtype: int64

In [23]:
student_data_math['absences'].head()

0     6
1     4
2    10
3     2
4     4
Name: absences, dtype: int64

In [25]:
# 軸別に平均値を求める
student_data_math.groupby('sex')['age'].mean()

sex
F    16.730769
M    16.657754
Name: age, dtype: float64